*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #B1A296;
    
}


#home {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    margin-top: 150px;
    margin-left: 100px;

}


.logo h3 {
    font-family: 'Rubik', sans-serif;
    color: #f0f0f0;
    font-size: 25px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.nav__list li {
    list-style: none;
}

.nav__item a {
    text-decoration: none;
    color:#f0f0f0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    padding: 3rem;
}

 .intro p {
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    font-size: 50px;
    margin-right: 100px;
}

h1 {
    margin-top: 2rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.technical-blog p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-left:  10rem;
    margin-right:  10rem;
    font-family: 'Rubik', sans-serif;
}

.technical-blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1rem;
}


.sprints   {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: auto 6rem;
}


.sprints   {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: auto 6rem;
}


.sprints p {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.sprints .br-line {
    margin-top: 1.5rem;
}

/* mobile portrait */
@media only screen 
and (min-device-width : 320px) 
and (orientation: portrait) { 
    body {
        background-color: blue;
    }
 }

 /* tablet portrait */
 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1200px) 
and (orientation: portrait) { 
    body {
        background-color: green;
    }
 }

 /* desktop/laptop  */
 @media only screen 
 and (min-device-width : 1200px) 
 { 
     body {
         background-color: purple;
     }
  }