*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #B1A296;
    
}


#home {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    margin-top: 150px;
    margin-left: 100px;

}


.logo h3 {
    font-family: 'Rubik', sans-serif;
    color: #f0f0f0;
    font-size: 25px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.nav__list li {
    list-style: none;
}

.nav__item a {
    text-decoration: none;
    color:#f0f0f0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

 .intro p {
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    font-size: 50px;
    margin-right: 100px;
}

